body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

.menu-icon {
    width: 1.5rem;
    color: white;
}

.menu-item {
    display: flex;
    gap: 12px;
}

.title {
    display: flex;
    font-size: 2rem;
    justify-content: left;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    align-self: center;
    gap: 10px;
}

.title-icon {
    width: 4rem;
    color: white;
}

.icon {
    color: gray;
    width: 2rem;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 3rem;
}

.upper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.lower {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lower.text {
    grid-row: 1 / 3;
    font-weight: bold;
}

.greeting-text {
    font-weight: bold;
}

.greeting-text p:nth-child(2) {
    font-size: 25px;
    margin-top: 0;
}

.greeting-text p:first-child {
    margin-bottom: 5px;
}

.left-part {
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    gap: 18px;
}

.right-buttons {
    display: inline-grid;
    grid-template-columns: 20% 20% 20%;
    align-items: center;
    justify-content: right;
    gap: 16px;
    padding-right: 15%;
}

.btn {
    height: 2.5rem;
    width: 7rem;
    justify-self: center;
    border-radius: 20px;
    border: none;
    background-color: #0ea5e9;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.search {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-auto-flow: column;
    justify-content: left;
    gap: 8px;
}

.search-bar {
    background-color: #e2e8f0;
    border-radius: 20px;
    border: none;
    justify-self: stretch;
    margin-right: 20%;
    padding-left: 10px;
}

.profile {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 22px;
    font-weight: bold;
}

.sidebar {
    font-size: 1.3rem;
    background-color: #0ea5e9;
    grid-row: 1 / 3;
    display: grid;
    align-items: center;
    color: white;
    align-items: start;
    grid-template-rows: 100px 250px 200px;
    font-weight: bold;
    gap: 20px;
}

.sidebar p {
    margin: 8px;
}



.content {
    background-color: #e2e8f0;
}

.first-menu, .second-menu {
    padding-left: 30px;
    padding-right: 30px;
}

img {
    border-radius: 50%;
}