body {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.menu-icon {
    width: 1.5rem;
    color: white;
}

.menu-item {
    display: flex;
    gap: 12px;
}

.title {
    display: flex;
    font-size: 2rem;
    justify-content: left;
    padding-left: 15px;
    align-items: center;
    align-self: center;
    gap: 10px;
}

.title-icon {
    width: 4rem;
    color: white;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: white;
}

.sidebar {
    font-size: 1.3rem;
    background-color: #0ea5e9;
    grid-row: 1 / 3;
    display: grid;
    align-items: center;
    color: white;
    align-items: start;
    grid-template-rows: 100px 250px 200px;
    font-weight: bold;
    gap: 20px;
}

.sidebar p {
    margin: 8px;
}



.content {
    background-color: grey;
}

.first-menu, .second-menu {
    padding-left: 30px;
    padding-right: 30px;
}
